In [4]:
import pandas as pd
import requests
import json

url = 'http://apis.data.go.kr/1360000/AsosHourlyInfoService/getWthrDataList'

서비스키 = 'qaWpm78A25TbAEGjCatvHW6BdFus1G5fye9RUl9DnSHJmCLKzr9A4yNE4TQApY8/kPEoCEai2OcTN+BMg1JJLw=='

# df_weather_concatenated = pd.DataFrame()

start_date = '20231001'
end_date = '20231101'

date = start_date
while date <= end_date:
 
    params ={'serviceKey' : f'{서비스키}', 'pageNo' : '1', 'numOfRows' : '100', 'dataType' : 'json', 'dataCd' : 'ASOS', 'dateCd' : 'HR', 'startDt' : f'{date}', 'startHh' : '00', 'endDt' : f'{date}', 'endHh' : '23', 'stnIds' : '152' }

    response = requests.get(url, params=params)
    data_dict = json.loads(response.content)
   
    if 'item' in data_dict['response']['body']['items']:
        df_weather = pd.DataFrame(data_dict['response']['body']['items']['item'])
        df_weather = df_weather[['tm', 'ta', 'rn', 'ws', 'hm', 'ss', 'icsr']]
        df_weather_concatenated = pd.concat([df_weather_concatenated, df_weather], ignore_index=True)
    
    date = (pd.to_datetime(date) + pd.DateOffset(days=1)).strftime('%Y%m%d')

In [8]:
df_weather_concatenated = df_weather_concatenated.rename(columns={
    'tm': 'useDate',
    'ta': 'temp',
    'rn': 'rain',
    'ws': 'wind',
    'hm': 'hum',
    'ss': 'ss',
    'icsr': 'sr',
})

In [10]:
df_weather_concatenated = df_weather_concatenated.replace('',0)

In [13]:
df_weather_concatenated.to_csv(r'data/weather.csv')

In [12]:
df_weather_concatenated

               useDate  temp rain wind hum ss sr
0     2023-08-01 00:00  25.3    0  0.3  80  0  0
1     2023-08-01 01:00  24.8    0  0.0  82  0  0
2     2023-08-01 02:00  24.8    0  2.6  82  0  0
3     2023-08-01 03:00  24.5    0  1.6  83  0  0
4     2023-08-01 04:00  24.0    0  1.1  87  0  0
...                ...   ...  ...  ...  .. .. ..
2275  2023-11-01 19:00  18.4    0  1.1  69  0  0
2276  2023-11-01 20:00  17.6    0  0.0  75  0  0
2277  2023-11-01 21:00  18.5    0  0.9  75  0  0
2278  2023-11-01 22:00  18.1    0  1.7  78  0  0
2279  2023-11-01 23:00  17.9    0  1.7  76  0  0

[2280 rows x 7 columns]